/* app css stylesheet */
body.cartApp{
  font-family: 'Roboto Condensed', sans-serif;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

img{max-width: 100%; height: auto;}
ul{margin: 0; padding: 0;}
ul:after{display: block; clear: both; content: "";}
ul li{list-style: none;}
a{cursor: pointer;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{outline: none !important;}

.productList li .imgSec{height: 200px; overflow: hidden; background: #fff;}
.active{color: #fff;}

.table{width: 100%;}
.tableProducts img{max-width: 100px; height: auto;}

.navbar.navbar-inverse.mainNav{margin: 0; border-radius: 0;}

.slider .carousel-inner>.item>img{width: 100%; height: auto;}
.slider{height: auto; overflow: hidden;}

.slider .carousel-control.left, .slider .carousel-control.right{background: none}

.productList li h3{font-size: 16px; cursor: pointer;}

button.toggleBtn span.glyphicon-heart{color: #e00;}
button.toggleBtn span.glyphicon-shopping-cart{color: #ffe000;}


.btn-default.wishAdd i{color: #e00;}

.userAddress .row{margin-top: 20px;}