<nav class="navbar navbar-inverse mainNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">W cart</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="product in sameCatgAry" ng-class="{active : activeMenu === '{{product.p_catg_id}}'}">
        <a ng-click="catgoryList($index, product.p_catg_id)">{{product.p_catg_name}}</a>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="searchString" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li ng-class="{active : activeMenu === 'userlist'}"><a href="#userlist" ng-click="activeMenu = 'userlist'"><span class="glyphicon glyphicon-user"></span> Userlist</a></li>
      <li ng-class="{active : activeMenu === 'cart'}"><a href="#cart" ng-click="activeMenu = 'cart'"><span class="glyphicon glyphicon-shopping-cart"></span>{{cartCount}}</a></li>
      <li ng-class="{active : activeMenu === 'wishcount'}"><a href="#wishlist" ng-click="activeMenu = 'wishcount'"><span class="glyphicon glyphicon-heart"></span>{{wishcount}}</a></li>
      <li ng-class="{active : activeMenu === 'signup'}"><a href="#signup" ng-click="activeMenu = 'signup'"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li ng-class="{active : activeMenu === 'login'}"><a href="#login" ng-click="activeMenu = 'login'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

  </div>
</nav>
