
<div class="container">
	<div class="row">
		<div class="col-sm-12 ">
		<h2>This is user profile page</h2>
		<button ng-click="showFullForm()" ng-hide="hideButton" type="button" class="btn btn-primary">Edit</button>
		<div ng-show="hideUserDetail" class="well">
			<div class='row'>
				<div class="col-sm-12">
					<h3>Login detail</h3>
				</div>
				<ul class="col-sm-6">
					<li><b>Name: </b> {{userListAry.name}}</li>
					<li><b>Phone number: </b> {{userListAry.phone}}</li>
					<li><b>Email: </b> {{userListAry.email}}</li>
					<li><b>Address: </b> <br>
						{{userListAry.fulladdress}}<br>
						{{userListAry.country}}<br>
						{{userListAry.state}}<br>
						{{userListAry.city}} {{userListAry.pincode}}<br>
					</li>
				</ul>
			</div>
		</div>
		
		<form ng-show="showUpdateForm" method="get" accept-charset="utf-8" class="well" ng-submit="updateUser(userListAry)">
			<h3>Update user detail</h3>
			<div class="form-group userAddress">
				<div class="row">
					<div class="col-sm-6">
						<label>Name</label>
						<input type="text" class="form-control" ng-model="userListAry.name">
					</div>
					<div class="col-sm-6">
						<label>Phone number</label>
						<input type="tel" class="form-control" ng-model="userListAry.phone" >
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<label>Country</label>
						<input type="text" class="form-control" ng-model="userListAry.country">
					</div>
					<div class="col-sm-6">
						<label>State</label>
						<input type="text" class="form-control" ng-model="userListAry.state">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<label>City</label>
						<input type="text" class="form-control" ng-model="userListAry.city">
					</div>
					<div class="col-sm-6">
						<label>Pincode</label>
						<input type="text" class="form-control" ng-model="userListAry.pincode">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label>Address</label>
						<textarea class="form-control" ng-model="userListAry.fulladdress"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary" >Submit</button>
					</div>
				</div>
			</div>
		</form>


		<form ng-show="showHideForm" method="get" accept-charset="utf-8" class="well" ng-submit="submitAddress(country,city,state,pincode,address)">
			<h3>Delivery address</h3>
			<div class="form-group userAddress">
				<div class="row">
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="country" placeholder="Country">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="state" placeholder="State">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="city" placeholder="City">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="pincode" placeholder="Pincode">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<textarea class="form-control" ng-model="address" placeholder="Full address"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary" >Submit</button>
					</div>
				</div>
			</div>
		</form> 

		</div>
	</div>
</div>