
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h2>This is Sign up page</h2>
			<form name="userForm" method="post" class="well" ng-submit="signupForm(username,userphno,useremail,userpass,userconfirmpass)" novalidate>
				<div class="form-group" ng-class="{'has-error : userForm.username.$invalid && !userForm.username.$pristine'}">
					<label>Name</label>
					<input type="text" name="username" id="username" ng-model="username" value="" class="form-control" required><br>
					<p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">Your name is required</p>
				</div>
				<div class="form-group" ng-class="{'has-error : userForm.userphno.$invalid && !userForm.userphno.$pristine'}">
					<label>Phone number</label>
					<input type="tel" name="userphno" id="userphno" ng-model="userphno" value="" class="form-control" ng-minlength="10" ng-maxlength="10" required><br>
					<p ng-show="userForm.userphno.$invalid && !userForm.userphno.$pristine" class="help-block">Your phone number is required</p>
					<p ng-show="userForm.userphno.$error.minlength" class="help-block">Phone number is to short</p>
					<p ng-show="userForm.userphno.$error.maxlength" class="help-block">Phone number is to long</p>
				</div>
				<div class="form-group" ng-class="{has-error : userForm.useremail.$invalid && !userForm.useremail.$pristine}">
					<label>Email</label>
					<input type="email" name="useremail" id="useremail" ng-model="useremail" value="" class="form-control" required><br>
					<p ng-show="userForm.useremail.$invalid && !userForm.useremail.$pristine" >Please use valid email id</p>
				</div>
				<div class="form-group" ng-class="{has-error : userForm.userpass.$invalid && !userForm.userpass.$pristine}">
					<label>Password</label>
					<input type="password" name="userpass" id="userpass" ng-model="userpass" value="" class="form-control" required><br>
					<p ng-show="userForm.userpass.$invalid && !userForm.userpass.$pristine" >Please use valid password</p>
				</div>
				<div class="form-group" ng-class="{has-error : userForm.userconfirmpass.$invalid && !userForm.userconfirmpass.$pristine}">
					<label>Confirm Password</label>
					<input type="password" name="userconfirmpass" id="userconfirmpass" ng-model="userconfirmpass" value="" class="form-control" required><br>
					<p ng-show="userForm.userconfirmpass.$invalid && !userForm.userconfirmpass.$pristine" >Please use valid password</p>
				</div>
				<div class="form-group">
					<button type="submit" id="signup" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>