<div class="container">
	<h2>This is product list page</h2>
	<div class="row">
		<ul class="productList">
			<li class="col-md-3" ng-repeat="product in sameProAry">
				<div class=" well">
					<div class="imgSec" ng-click="proIdFn($index)">
						<img src="img/products/{{product.p_image}}" alt="">		
					</div>
					<div class="captionSec">
						<h3 ng-click="proIdFn($index)">{{product.p_name}}</h3>	
						<p>{{product.p_description}}</p>				
						<div>
							<span>Price: <b>{{product.p_price | currency}}</b></span>
							<div class="btn-group pull-right">
							  <button type="button" class="btn btn-default" id="wishBtn" ng-click="wishList($index)" ng-class="{select: $index == selected}"> 
							  	<span ng-class="productIn == true ? 'wishAdd' : 'wishRemove'"> <i class="glyphicon glyphicon-heart"></i> </span> 
							  </button>
							  <button type="button" class="btn btn-default" id="cartBtn" ng-click="addToCart($index)"><span class="glyphicon glyphicon-shopping-cart"></span></button><!-- ng-class="wishActive == true && $index == selected ? 'wishAdd' : 'wishRemove'" -->
							</div>
						</div>
					</div>
				</div>

			</li>
		</ul>
	</div> 
	<!-- {{productCatgId}}-->
</div>
