<div class="container">
	<h2>This is wishlist page</h2>
	<label>Search item: </label> <input type="text" ng-model="searchString">
	<table class="table tableProducts">
		<thead>
			<tr>
				<th>id</th>
				<th>image</th>
				<th>name</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in wishArray track by $index | searchItem:searchString">
				<td>{{product.p_id}}</td>
				<td><img src="img/products/{{product.p_image}}" alt="{{product.p_name}}"></td>
				<td>{{product.p_name}}</td>
				<td>
					<button type="button" ng-click="removeFromWishList($index)"><span class="glyphicon glyphicon-delete"></span> remove from wish list</button>
					<button toggle-class type="button" ng-click="moveWishToCart($index)"><span class="glyphicon glyphicon-shopping-cart"></span> Move to shopping cart</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	
</div>
