<div class="container">
	<h2>This is cart page</h2>

	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>image</th>
				<th>name</th>
				<th>quantity</th>
				<th>price</th>
				<th>total</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in cartAry">
				<td>{{product.proId}}</td>
				<td>{{product.proImg}}</td>
				<td>{{product.proName}}</td>
				<td><input type="text" ng-model="newQty" ng-change="changeQtyFn(newQty,$index)">new quantity:{{newQtyScope}} old quantity:{{product.proQty}}</td>
				<td>{{product.proPrice}}</td>
				<td>
					<b>{{product.totalPrice}}</b>
				</td>
				<td>
					<button type="button" ng-click="removeItem($index)">Remove</button>
					<button type="button" ng-click="cartWishList($index)"><span class="glyphicon glyphicon-heart"></span>wish list</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" >grand total</td>
				<td colspan="2"><h3>{{grandTotal | currency}}</h3></td>
			</tr>
		</tfoot>
	</table>
	
	
</div>
