<div class="container">
	<h2>This is cart page</h2>

	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>image</th>
				<th>name</th>
				<th>quantity</th>
				<th>price</th>
				<th>total</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in cartAry">
				<td>{{product.proId}}</td>
				<td>{{product.proImg}}</td>
				<td>{{product.proName}}</td>
				<td><input type="number" ng-model="newQty" ng-change="changeQtyFn(newQty,$index)">new quantity:{{newQtyScope}} old quantity:{{product.proQty}}</td>
				<td>{{product.proPrice}}</td>
				<td>{{product.proPrice * product.proQty}}
					<b>{{totalPrice}}</b>
				</td>
			</tr>
		</tbody>
	</table>
	
	
</div>
